@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.footer-container { 
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    */
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-container .col, .footer-container p {
    margin: 0.3rem;
}

.footer-logo {
    color: #5DA7DB;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
}

.footer-menu {
    font-size: 12px;
}

@media (max-width: 550px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
