@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

@media (max-width: 900px) and (min-width: 550px) {
    nav .Browse .DropDownArrow {
        display: block;
    }
    nav .Browse ul {
        display: none;
    }
    nav .Browse::before {
        content: "Browse";
        padding: 1.25rem 0.5rem;
    }
    nav .Browse:hover ul{
        display: block;
        position: absolute;
        top: 3.5rem;
        left: -2rem;
        width: 10rem;
        text-align: center;
        background-color: rgb(32, 32, 32) ;
    }
}

@media (max-width: 550px) {
    nav {
        flex-direction: column-reverse;
        position: static;
        top: 0;
    }
}

.Logo {
    color: #FF2C2C;
    font-family: 'Permanent Marker', cursive;
    margin: 0 4rem;
    font-size: 1.7rem;
}

.DropDownArrow, 
.SearchIcon,
.AccountIcon {
    color: white;
}

.DropDownArrow {
    font-size: 1rem;
    margin: 2rem 0rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(180deg,rgb(0, 0, 0),rgb(32, 32, 32));
    /*position: fixed;*/
    /*z-index: 3;*/
    /*transition: background-color 0.2s;*/
}

nav .Menu {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

/*
nav:hover {
    background-color: linear-gradient(180deg,rgb(0, 0, 0),rgb(32, 32, 32));   
}
*/

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1.25rem 0.5rem;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    transition: color 0.5s;
}

ul li:first-child a {
    font-weight: bold;
    cursor: default;
}

nav ul li:not(:first-child) a:hover {
    color: #b1b1b1;
}

nav ul {
    display: flex;
    list-style: none;
}

nav .Browse {
    display: flex;
    color: white;
    margin-top: 1rem;
    position: relative;
}

.DropDownArrow {
    display: none;
}
