@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.Menu {
    background-color: #191919; 
}

.Logo {
    color: #645CAA;
    font-family: 'Silkscreen', cursive;
}

.DropDownArrow, 
.SearchIcon,
.AccountIcon {
    color: white;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1.25rem 0.5rem;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    transition: color 0.5s;
}

ul li:first-child a {
    font-weight: bold;
    cursor: default;
}

nav ul li:not(:first-child) a:hover {
    color: #b1b1b1;
}
