@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.main-content {
    margin-left: 1rem; 
    position:relative;
    color: #FFFDFA; 
    font-family: 'Poppins', sans-serif;
}

.row {
    width: 100%;
    margin-bottom: 1rem;
}


.movie-genre-texts {
    margin-left: 2rem;
    font-size: 1.5rem;
}

.movies { 
    height: 13rem;
    margin-top: -1rem;
    padding-left: 2rem;
    display: flex;
    overflow-x: scroll;
    align-items: center;
}

.movies::-webkit-scrollbar {
    display: none;
}

.movies img {
    max-width: 40vw;
    margin-top: 10px;   
    margin-right: 1.5rem;
    border-radius: 0.2rem;
}

.movies img:hover {
    border: 3px solid #FFFDFA;
    transform: scale(1.1); 
    transition: 0.3s linear;
}

.movie-icons {
    width: 16rem;
    margin-right: 1rem;
    box-shadow: 0 5px 8px 3px black;
}

.forward{
    left: 85vw;
    position: absolute;
    z-index: 1;
    color: #FFFDFA; 
    opacity: 0.7;
    transition: transform 0.5s;
}

.forward:hover {
    transform: scale(2);
}

/*
@media (max-width: 550px) {
    .main {
        margin-left: 1rem;
        text-align: center;
    }

    .main .movies {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .main .movies img {
        max-width: 80vw;
        margin-bottom: 3rem;
    }   
    .forward {
        display: none;
    }
}
*/
