* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 1rem;
}

.Main {
    position:relative;
    margin-left: 1rem;
}

.Row {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
}

h2 {
    margin: 0 1rem;
}

.Movies {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    align-items: center;
}

.Movies::-webkit-scrollbar {
    display: none;
}

.Movies img {
    max-width: 40vw;
    margin-right: 1.5rem;
    border-radius: 0.3rem;
}

.Movies img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

/*
.FirstRow .Movies img {
    max-width: 60vw !important;
}
*/

.Pictures {
    height: 100px;
    width: 200px;
}