@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: 1rem;
}

.Main {
    position:relative;
    margin-left: 1rem; 
    font-family: 'Poppins', sans-serif;
    color: white;
    
}

@media (max-width: 550px) {
    .Main {
        margin-left: 1rem;
        text-align: center;
    }

    .Main .Movies {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .Main .Movies img {
        max-width: 80vw;
        margin-bottom: 3rem;
    }   
    .Forward {
        display: none;
    }
}

.Row {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    height: 30%;
}

h2 {
    margin: 0 1rem;
}

.Movies {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    align-items: center;
}

.Movies::-webkit-scrollbar {
    display: none;
}

.Movies img {
    max-width: 40vw;
    margin-right: 1.5rem;
    border-radius: 0.3rem;
}

.Movies img:hover {
    transform: scale(1.1);
    transition: 0.2s;
    border: 2px solid white;
}

/*
.FirstRow .Movies img {
    max-width: 60vw !important;
}
*/

i{
    font-size: 2rem;
}

.Forward {
    color: white;
    
    opacity: 0.7;
    position: absolute;
    left: 85vw;
    z-index: 1;
    transition: transform 0.5s;
}

.Forward:hover {
    transform: scale(2);
}

.MovieIcons {
    width: 15rem;
    margin-right: 1rem;
    box-shadow: 0px 20px 10px -15px black;
}