@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.movies-content {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.movies-select-search-bar-container {
    margin-top: 1rem;
    margin-bottom: -2rem;
    padding: 0 3rem;
    display: flex;
}

.movies-text {
    margin-right: 2rem;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}


.movies-search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center
}


.movies-genre-select {
    height: 2rem;
    width: 10rem;
    border: none;
    border-radius: 2px;
    outline: none;
    padding-left: 30px;
    font-size: 1rem;
    color: #FFFDFA;
    background-color: #585c69;
    font-family: 'Poppins', sans-serif;
}

.visible-movies-container {
    height: 100%; 
    width: 100%; 
}

.visible-movies-container div {
    height: 120px;
    width: 250px;
    margin: 50px;
    float: left;  
}

.movies-movie-icons {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 0 5px 8px 3px black;
}

.movies-movie-icons:hover {
    border: 3px solid #FFFDFA;
    transform: scale(1.1); 
    transition: 0.3s linear;
}