* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.mylist-content {
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mylist-text-container { 
    margin-top: 1rem;
    margin-bottom: -2rem;
    padding: 0 3rem;
    display: flex;
}

.mylist-text {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}

.mylist-movies-container {
    height: 100%; 
    width: 100%; 
}

.mylist-movies-container div {
    height: 120px;
    width: 250px;
    margin: 50px;
    float: left;  
}

.mylist-movies-container img { 
    transform: scale(1.0); 
    transition: 0.3s linear;
}

.mylist-movies-container img:hover {
    border: 3px solid #FFFDFA;
    transform: scale(1.1); 
    transition: 0.3s linear;
}

.mylist-movie-icons {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 0 5px 8px 3px black;
}

.mylist-movie-icons:hover {
    border: 3px solid #FFFDFA;
    transform: scale(1.1); 
    transition: 0.3s linear;
}

@media (max-width: 768px) {

    .mylist-text {
        font-size: 1.5rem;
    }

}

