.PagesContainer {
    min-height: 100vh;
    /*position: fixed;*/
    /*background-size:cover;*/
    background-position: center;
    background-color: #21243D;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.SelectsForFilter {
    display: flex;
    justify-content: center;
}




