* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
} 


.pages-container {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #21243D;
}   

.header {
    flex-shrink: 0;
}

.main-content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}











