.pages-container {  
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #21243D;
}   

.header {
    flex-shrink: 0;
}

.footer {
    flex-shrink: 0;
}

.main-content {
    flex: 1 0 auto;
}

/*i will need this for the movie page*/
.visible-movies {
    height: 100%; 
    width: 100%;
}

.visible-movies div {
    height: 150px;
    width: 250px;
    margin: 5px;
    float: left; 
}

.home-movie-icons {
    height: 100px;
    width: 200px;
    border-radius: 5px;
}







