@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.search-content { 
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.search-input-button-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.search-input {
    height: 5rem;
    width: 60%;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 30px;
    outline: none;
    float:left;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}

.search-button {
    width: 8%; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 3rem;
    color: #FFFDFA;
    background: #585c69;
    cursor: pointer;
}

.search-button:hover{
    background-color: #76787f;
}

.selects-container {
    display: flex;
    justify-content: center;
}

.release-date-select {
    height: 3rem;
    width: 14rem;
    margin-top: 2rem;
    border: none;
    border-radius: 2px;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;
    color: #FFFDFA;
    background-color: #585c69;
    font-family: 'Poppins', sans-serif;
}

.movie-length-select {
    height: 3rem;
    width: 14rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    border: none;
    border-radius: 2px;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;
    color: #FFFDFA;
    background-color: #585c69;
    font-family: 'Poppins', sans-serif;
}

.age-limit-select {
    height: 3rem;
    width: 14rem;
    margin-top: 2rem;
    border: none;
    border-radius: 2px;
    outline: none;
    padding-left: 10px;
    font-size: 1rem;
    color: #FFFDFA;
    background-color: #585c69;
    font-family: 'Poppins', sans-serif;
}

.release-date-select:hover,
.movie-length-select:hover,
.age-limit-select:hover {
    background-color: #76787f;
}

.visible-search-container {
    height: 100%; 
    width: 100%; 
}

.visible-search-container div {
    height: 120px;
    width: 250px;
    margin: 50px;
    float: left;  
}

.search-movie-icons {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 0 5px 8px 3px black;
}

.search-movie-icons:hover {
    border: 3px solid #FFFDFA;
    transform: scale(1.1); 
    transition: 0.3s linear;
}