@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

.selected-movie-container {
    background-size: cover;
}

.movie-details-container {
    height: 100vh;
    width: 40%;
    padding-left: 30px;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 100%);
}

.main-title {
    font-size: 100px;
}

.movie-data {
    font-size: 20px;
    color: #dbdbdb;
}

.age-year-time-container {
    width: 40%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

/*
.dot {
    height: 0.5rem;
    width: 0.5rem;
    margin-top:2%;
    margin-right: 0.2rem;
    border-radius: 50%;
    background-color: white;
}
*/

.play-and-add-buttons-container {
    height: 120px;
    width: 20%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    height: 80px;
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
    border: solid white;
    background-color: black;
}

.play-button:hover {
    border: solid #5DA7DB;
}


.play-icon {
    font-size: 3rem;
    color: white;
    vertical-align: middle;
}

.play-icon:hover {
    font-size: 3.4rem;
    color: white;
    vertical-align: middle;
}

.add-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 2rem;
}

.add-button:hover{
    background-color: #5DA7DB;

}

.pipe-button {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pipe-button:hover{
    background-color: #5DA7DB;
}

.movie-description-container {
    margin-bottom: 1.5rem;
}

.movie-description {
    font-size: 2rem;
    color: #dbdbdb;
}

.movie-director-container {
    margin-bottom: 1rem;
}

.movie-director-title,
.movie-actors-title {
    font-size: 1.5rem;
    color: white;
}

.movie-director-name,
.movie-actor-names {
    font-size: 1.3rem;
    color: #dbdbdb;
}
