.slider-container {
    position: relative;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}


.slider-images {
   width: 100%;
   height: auto;
   border-radius: 3px; 
}

.slider-images:hover {
    transition: 0.2s;
    outline: 3px solid #FFFDFA;
}

.slider-images:hover::after {
    transition: 0.2s;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 33px;
    font-size: 3rem;
    color: #FFFDFA;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 33px;
    font-size: 3rem;
    color: #FFFDFA;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.right-arrow:hover, .left-arrow:hover{
    color: #c3c3c3;
    transition: 0.2s;
}

.slide {
    opacity: 0;
    transition-duration: 2s ease;
}

.slide-active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
}